*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  background-color: #0d325a;
  padding: 20px;
  vertical-align: middle;
}
ul{
  list-style-type: none;
}
.logo{
  margin-left: 7%;
  padding-bottom: 7px;
}
.li-menu-1, .li-menu-2{
  float: left;
  color: white;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  margin-right: 10px;
  padding: 8px;
}

.menu-1{
  display: inline-block;
  margin-left: 5%;
  padding-bottom: 3px;
}
.menu-1::after{
  content: "";
  display: table;
  clear: both;
}
#li-2{
  border-radius: 10px;
  border: 1px solid lightblue;
  padding-left: 20px;
  padding-right: 20px;
}
#li-3{
  background-color: #99CC33;
  border-radius: 10px;
}

.menu-2{
  display: inline-block;
  margin-left: 8%;
  padding-bottom: 3px;
}
.menu-2::after{
  content: "";
  display: table;
  clear: both;
}
.section-header{
  background-image: url("immagini/vecchi.jpg");
  background-size: cover;
  height: 60vh;
}
.title{
  color: white;
  margin-left: 7%;
  position: relative;
  top: 30%;
  font-size: 30px;
}
#span-title{
  background-color: #99CC33;
  border-radius: 10px;
  padding: 8px;
  font-size: 20px;
  position: relative;
  top: 20px;
}
