*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  background-color: #0d325a;
  padding: 20px;
  vertical-align: middle;
}
ul{
  list-style-type: none;
}
.logo{
  margin-left: 7%;
  padding-bottom: 7px;
}
.li-menu-1, .li-menu-2{
  float: left;
  color: white;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  margin-right: 10px;
  padding: 8px;
}

.menu-1{
  display: inline-block;
  margin-left: 5%;
  padding-bottom: 3px;
}
.menu-1::after{
  content: "";
  display: table;
  clear: both;
}
#li-2{
  border-radius: 10px;
  border: 1px solid lightblue;
  padding-left: 20px;
  padding-right: 20px;
}
#li-3{
  background-color: #99CC33;
  border-radius: 10px;
}

.menu-2{
  display: inline-block;
  margin-left: 8%;
  padding-bottom: 3px;
}
.menu-2::after{
  content: "";
  display: table;
  clear: both;
}
.section-header{
  background-image: url("immagini/vecchi.jpg");
  background-size: cover;
  height: 60vh;
}
.title{
  color: white;
  margin-left: 7%;
  position: relative;
  top: 30%;
  font-size: 30px;
}
#span-title{
  background-color: #99CC33;
  border-radius: 10px;
  padding: 8px;
  font-size: 20px;
  position: relative;
  top: 20px;
}
.section1{

}
.s1-div1{
  background-color: #f9f9f9;
  height: 20vh;
}
.s1-div2, .s1-div3, .s1-div4{

  width: calc(86%/3);
  float: left;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-indent: center;
}
hr{
  width: 10%;
  margin: 5vh auto 0;

}
.s1-div2{
  margin-left:7%;
}
.h3-wrapper1{
  padding-top: 10vh;
  color: #99CC33;
}

.p-wrapper1{
  padding: 5vh 5vw 0;
  color: grey;
}
#img2{
  padding-bottom: 13px;
}
#img3{
  padding-bottom: 2px;
}

.wrapper-1::after{
  content: "";
  display: table;
  clear: both;
}
.prova{
  background-color: red;
  height: 50vh;
}
